@font-face {
    font-family: Tavern;
    src: url('../media/tavern.otf');
}

body {
    color: white;
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: 'Tavern', Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    font-size: 15px;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.3);
    letter-spacing: 0.5px;
}

button, input, select, option, textarea {
    font-family: 'Tavern', Arial, sans-serif;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../media/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 1px solid #1a1a1a;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 2px solid #1a1a1a;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-button {
    display: none;
}

#cropper-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75); /* Fondo oscuro translúcido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#cropper-modal-content {
    background-color: transparent;
    margin-left: 50%;
    margin-top: 5%;
    transform: translate(-50%);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    height: fit-content;
    width: fit-content;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #0f0f0f98;
    gap: 1rem;
}

#imagen-a-recortar {
    border-radius: 8px;
    width: 600px;
    height: 600px;
    background-color: #45a049;
}





.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    padding: 1rem;
    overflow-y: auto;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: #f0f0f0;
    padding: 2rem;
    border-radius: 10px;
    width: 60%;
    min-width: 275px;
    max-width: 600px;
    height: 55%;
    min-height: 310px;
    max-height: 500px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.botones-modal {
    height: fit-content;
}
.contenedor-modal {
    height: 90%;
}
/* contenedor de cada build */
.build-container {
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.botones-lista-build {
    margin-bottom: 30px;
}
.btn-seleccionar {
    background-color: #4CAF50 !important;
}
.btn-seleccionar:hover {
    background-color: #45a049 !important;
    transform: scale(1.05);
}
.btn-eliminar {
    background-color: #f44336 !important;
}
.btn-eliminar:hover {
    background-color: #e53935 !important;
    transform: scale(1.05);
}
/* textos dentro de cada build (nombre, raza, clase) */
.build-container p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
}
/* tamaño del título de la modal */
.modal-content h2 {
    text-align: center;
    font-size: 24px;
    color: #ffcc00;
    height: 14%;
}
/* contenedores en global */
.contenedor-lista-builds, .contenedor-lista-items, .contenedor-mensajes, .lista-simulador {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    height: 86%;
    min-height: 246px;
    max-height: 375px;
    width: 90%;
    min-width: 370px;

}
/* cada build */
.build-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


#cabecera {
    text-align: center;
    padding: 0px 20px;
    display: flex;   
    justify-content: center;
    position: relative;
}

#cabecera h1 {
    line-height: 1;
    margin-bottom: 0;
}

#boton-inicio {
    position: absolute;
    font-size: 18px;
    padding: 5px 25px 6px;
    left: 20px;
    margin: 0;
    align-self: flex-end;
    height: fit-content;
}

#contenedor-principal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

#contenedor-superior {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.boton-superior { /* Por comodidad lo uso para todos los botones */
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 15px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #1a1a1a;
}
.boton-superior:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-x: auto;
}

#contenedor-enemigos {
    justify-content: space-evenly;
}

#titulo-builds {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#fila-crear-build {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
}

#label-crear-build{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#input-nombre-build {
    margin: 0 !important;
    width: 95%;
}


#botones-listas-builds, #texto-lista-build {
    margin-top: -10px;
}

#botones-sesion, #botones-cuenta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

#boton-guardar {
    align-self: flex-end;
    margin-right: 10%;
}

#contenedor-medio {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#contenedor-utilidades {
    flex: 1;
    align-items: normal;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-x: auto;
}

#contenido-utilidades {
    display: flex;
    flex-direction: column;
}

#input-nombre {
    width: 95%;
}

#input-historia {
    resize: vertical;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid dimgray;
}

input, select {
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid dimgray;
}


.custom-select {
    position: relative;
    font-family: 'Tavern', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    width: 95%;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: rgba(0, 0, 0, 0.4);
    color: #f0f0f0;
    padding: 8px 16px;
    border: 2px solid dimgray;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.select-selected:after {
    content: "";
    position: absolute;
    top: 14px;
    right: 10px;
    border: 6px solid transparent;
    border-color: #f0f0f0 transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #f0f0f0 transparent;
    top: 7px;
}

.select-items {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 10px;
    border: 1px solid dimgray;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.select-items div {
    color: #f0f0f0;
    padding: 8px 16px;
    cursor: pointer;
    border-bottom: 1px solid dimgray;
}

.select-items div:last-child {
    border-bottom: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(255, 255, 255, 0.1);
}

.select-hide {
    display: none;
}


#botones-utilidades {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#botones-utilidades > button {
    font-size: 17px;
    margin-bottom: 10px;
    padding: 5px 15px;
    border: 3px transparent;
    border-radius: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.1) !important;
}

#botones-utilidades > button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.oculto {
    display: none !important;
}

.seleccionado {
    text-decoration: underline 3px rgb(41, 19, 19);
    text-underline-offset: 10px;
}

#habilidades-sub {
    display: flex;
    flex-direction: row;
    min-width: 350px;
}

#selectores-habilidades {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
}

#selectores-habilidades button {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    padding: 0px 0px 1px 0px;
    line-height: 1;
    text-align: center;
    color: crimson;
    border: 2px solid crimson;
    background-color: transparent;
}

.boton-activo {
    cursor: pointer;
}

.boton-inactivo {
    opacity: 0.6;
}

#selectores-habilidades > div + div {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    text-align: right;
    height: 40px;
    margin-top: 10px;
}

#selectores-habilidades div > button:first-of-type  {
    margin-left: 30px;
}

#selectores-habilidades span {
    padding-left: 4px;
    padding-right: 4px;
    margin-top: -21px;
    align-self: center;
}

#selectores-habilidades img {
    margin-top: -15px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

#selectores-habilidades div + div > div:last-child {
    margin-left: auto;
    display: flex;
    gap: 5px;
}


#bonus-habilidades {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
}

#botones-build {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#contenedor-publicar {
  margin-top: 14px;
  margin-right: 2.5%;
}

#bonus-habilidades > div + div {
    height: 40px;
    margin-top: 10px;
}

#bonus-habilidades > div > input {
    cursor: pointer;
}

.mas2 {
    margin-right: 5px;
}

.slot {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #1a1a1a;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: background-color 0.2s ease;
    width: 90%;
}

.slot:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


#contenedor-personaje {
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 5px;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-x: auto;
}

#contenedor-personaje > h4, h3, h2, p {
    margin: 0;
}

#detalles-personaje {
    display: flex;
    justify-content: space-between;
}

#detalles-personaje h3 {
    margin-bottom: 12px;
}

#detalles-personaje p {
    margin-bottom: 3px;
}

#detalles-personaje h3 + p {
    margin-bottom: 7px;
}

#contenedor-imagen-personaje {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedor-imagen-personaje > div {
    display: flex;
    flex-direction: row;
}

#imagen-build {
    position: relative;
    border-radius: 8px;
    height: 120px;
    width: auto;
    aspect-ratio: 1 / 1;
    background-size: cover;
    margin: 10px;
    background-color: #68686821;
}

#imagen-build::after {
    content: "";
    position: absolute;
    top: -13%;
    left: -13%;
    height: 126%;
    width: 126%;
    background-image: url(../media/builds/build-marco.png);
    background-size: cover;
    z-index: 2;
}

#nombre-build {
    text-decoration: underline;
}

#raza-personaje, #clase-personaje {
    font-style: italic;
}

#atributos-personaje {
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-align: center;
    font-weight: bold;
}

#atributos-personaje > div > p:first-of-type {
    color: dimgray;
}
#atributos-personaje span + span {
    color: dimgray;
}

#lista-atributos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    min-width: 350px;
}

#atributos-1, #atributos-2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 47%;
}

#atributos-1 > div, #atributos-2 > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#atributos-1 > div > div, #atributos-2 > div > div {
    text-align: left;
}

#atributos-1 > div > div:last-child, #atributos-2 > div > div:last-child {
    text-align: right;
    margin-left: auto;
}


#contenedor-inferior {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#boton-simulador, #boton-importar, #boton-exportar {
    margin: 20px;
}

.contenedor-combate {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.imagen-combatiente {
  width: 60%;
  height: auto;
  max-width: 320px;
  box-sizing: border-box;
}

.estadisticas-combatiente {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.combatiente {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "nombre nombre"
        "vida armadura"
        "ataque bonificador";
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #1a1a1a;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: background-color 0.2s ease;
    width: 90%;
    text-align: center;
    align-items: center;
}

.combatiente:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.nombre {
    grid-area: nombre;
    font-weight: bold;
    font-size: 18px;
    
}

.vida {
    grid-area: vida;
}

.armadura {
    grid-area: armadura;
}

.ataque {
    grid-area: ataque;
}

.bonificador {
    grid-area: bonificador;
}

#contenedor-botones-simulador {
    align-self: center;
    display: flex;
    gap: 15px;
}

#contenedor-botones-simulador button {
    font-size: 18px;
    padding: 5px;
    width: 135px;
    text-align: center;
}

.barra-vida {
    width: 60%;
    background-color: rgba(128, 128, 128, 0.301);
    height: 12px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 4px;
    margin-top: 4px;
}

.barra-vida .vida {
    height: 100%;
    background-color: rgba(50, 205, 50, 0.541);
    width: 100%;
    transition: width 0.5s ease;
}

#registro-combate {
    height: 250px;
    overflow-y: auto;
    background-color: #171717d1;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: unset;
    line-height: 2;
    font-size: 15px;
    width: 90%;
    border: 3px dimgray groove;
}

#contenedor-combatientes {
    display: flex;
    width: 80%;
}

#enemigos-combate, #builds-combate {
    width: 100%;
}

.enemigo-combate, .build-combate {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 650px;
    width: 100%;
}

#imagen-build1, .build-combate img {
    padding: 20% 10% 0% 10%;
}

@keyframes sacudir {
    0% { transform: translateX(0); }
    20% { transform: translateX(-15px); }
    40% { transform: translateX(15px); }
    60% { transform: translateX(-15px); }
    80% { transform: translateX(15px); }
    100% { transform: translateX(0); }
}

@keyframes golpeado {
    0% {
        transform: scale(1);
        filter: brightness(1);
    }
    50% {
        transform: scale(0.9);
        filter: brightness(1.5) sepia(1) hue-rotate(-50deg) saturate(5) drop-shadow(0 0 10px red);
    }
    100% {
        transform: scale(1);
        filter: brightness(1);
    }
}

@keyframes esquivar {
    0% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(-15px); }
    75% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.atacando {
    animation: sacudir 0.5s ease;
}

.golpeado {
    animation: golpeado 0.5s ease;
}

.esquivar {
    animation: esquivar 0.5s ease;
}

#ventana-simulacion h4 {
    margin-bottom: 0;
}

.separador-vertical {
    height: 95%;
    width: 2px;
    border-radius: 5px;
    background-color: dimgrey;
}

.separador-horizontal {
    width: 95%;
    height: 2px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: dimgrey;
}