body {
    color: white;
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    font-size: 13px;
    min-width: 350px;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../media/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


#contenedor-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin: 50px auto; /* Centra horizontalmente */
}

#contenedor-login p {
    margin: 10px 0;
    width: 100%;
    text-align: left;
}

#contenedor-login input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid dimgray;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

#contenedor-login input:focus {
    border-bottom: 2px solid crimson;
    outline: none;
}

#contenedor-login a {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 15px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #1a1a1a;
}

#contenedor-login a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#boton-inicio {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 25px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    border: 2px solid #1a1a1a;
}

#boton-inicio:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    padding: 1rem;
    overflow-y: auto;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: #f0f0f0;
    padding: 2rem;
    border-radius: 10px;
    width: 60%;
    min-width: 275px;
    max-width: 600px;
    height: 55%;
    min-height: 310px;
    max-height: 500px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.botones-modal {
    height: fit-content;
}
.contenedor-modal {
    height: 90%;
}

/* tamaño del título de la modal */
.modal-content h2 {
    text-align: center;
    font-size: 24px;
    color: #ffcc00;
    height: 14%;
}

.contenedor-mensajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    height: 86%;
    min-height: 246px;
    max-height: 375px;
    width: 90%;
    min-width: 370px;
}

.boton-superior { /* Por comodidad lo uso para todos los botones */
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 15px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #1a1a1a;
}
.boton-superior:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}